<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/menu.css') }}" />
	<title>Ensa</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript">
/*
var rings = JSON.parse({{ rings|tojson }});
//var rings = '{{ rings|tojson }}';
for (var i in rings){
	alert(rings[i]);
}
*/
/**************************
0. Global variables
*/
var active_category = "ring";
var rings = JSON.parse({{ rings|tojson }});
var subjects = new Array();
var locations = new Array();
var times = new Array();
var associations = new Array();
var informations = new Array(); // of last subject

var last = {
	'ring': 0,
	'subject': 0,
	'location': 0,
	'time': 0,
	'association': 0,
}

/**************************
1. General-purpose functions
*/
function test()
{
	ajax('get_subjects', 1, 'subjects');
}

function get_image_url(name)
{
	return "/static/images/"+name+".png";
}

function ajax(query, fkey, result)
{
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function()
	{
		if (this.readyState == 4 && this.status == 200) {
			window[result] = JSON.parse(this.responseText);
		}
	};
	xhttp.open('GET', '/'+query+'/'+fkey, true);
	xhttp.send();
	// TODO escape stuff?
}

function request(query)
{
	var req = new XMLHttpRequest();
	req.open('GET', query, false);
	req.send(null);
	if (req.status === 200)
		return JSON.parse(req.responseText);
	return '';
	// TODO escape stuff?
}

function get_by_id(dataset, id, id_index=0)
{
	for(var i in dataset)
	{
		if (dataset[i][id_index] == id)
			return dataset[i];
	}
}

/**************************
2. Functions relevant for Menu
*/

function menu_image(on, f){
	document.write("<img id='menu-image-"+on+"' class='menu-image' src='/static/images/"+on+".png'>");
    document.getElementById('menu-image-'+on).addEventListener('click', function(){f(this);});
}


/**************************
3. Functions relevant for List
*/

function create_items(category, datasource, id_index, formatter)
{
	var result = "";
	for (var i in datasource){
		result += '<div id="item-'+category+'-'+datasource[i][id_index]+'" class="item" onclick="item_click(`'+category+'`, `'+datasource[i][id_index]+'`)" >'+formatter(datasource[i])+'</div>';
	}
	return result;
}

function regenerate_list(element)
{
	// set as selected
	menu_images = document.getElementsByClassName('menu-image');
	[].forEach.call(menu_images, function(image)
	{
		image.classList.remove('selected');
	});
	element.classList.add('selected');
	
	active_category=element.id.substring(11);
	//alert("Test, >"+active_category+"<");
	objlist = document.getElementById('object-list');
	content = "";
	switch (active_category)
	{
		case 'ring':
			//content = rings;
			
			content += create_items(active_category, rings, 0, function(entry){return entry[1];});
			break;
		case 'subject':
			//content = subjects;
			content += create_items(active_category, subjects, 0, function(entry){return entry[1];});
			break;
		case 'location':
			//content = locations;
			content += create_items(active_category, locations, 0, function(entry){return entry[1];});
			break;
		case 'time':
			//content = times;
			content += create_items(active_category, times, 0, function(entry){return entry[5]+'<br>('+entry[1]+')';});
			break;
		case 'association':
			//content = associations;
			content += create_items(active_category, associations, 0, function(entry){return entry[6];});
			break;
	}
	objlist.innerHTML = content;
	// select last active
	if (last[active_category] > 0){
		item_click(active_category, last[active_category]);
	}
}


function item_click(category, id)
{
	// 1. load data if necessary
	switch(category)
	{
		case 'ring':
			ajax('get_subjects', id, 'subjects');
			ajax('get_locations', id, 'locations');
			ajax('get_times', id, 'times');
			ajax('get_associations', id, 'associations');
			break;
		case 'subject':
			informations = request('/get_informations/'+'1'+'/'+id, 'informations'); // TODO dynamic reference time
			break;
	}

	// 2. generate detail
	// TODO
	detail = '';
	switch(category){
		case 'ring':
			data = get_by_id(rings, id);
			detail += generate_gridrow('ring-name', 'name', data[1], 'text', {key_editable:false, value_editable:false});
			detail += generate_gridrow('ring-note', 'note', data[3], 'text', {key_editable:false});
			//detail += get_by_id(rings, id);
			break

		case 'subject':
			data = get_by_id(subjects, id);
			detail += generate_gridrow('subject-codename', 'codename', data[1], 'text', {key_editable:false, value_editable:false});
			detail += generate_gridrow('subject-note', 'note', data[3], 'text', {key_editable:false});
			detail += '<hr>';
			// informations
			for (var i in informations)
			{
				data = informations[i];
				/*if (data[4] == 'codename')
					continue;*/
				detail += generate_gridrow('information-'+data[0], data[4], data[11], 'text', {key_editable:(data[4] != 'codename'), value_editable:(data[4] != 'codename'), level:data[5], accuracy:data[6], valid:data[7], modified:data[8], note:data[9], level_allowed:true});
			}
			break
	} 
	document.getElementById('object-detail').innerHTML = detail;
	
	// 3. mark as checked
	last[category] = id;
	items = document.getElementsByClassName('item');
	[].forEach.call(items, function(item){
		if (item.classList.contains('item-checked')){
			item.classList.remove('item-checked');
		}
	});
	document.getElementById("item-"+category+"-"+id).classList.add('item-checked');
}

/**************************
4. Functions relevant for Detail
*/

function generate_gridrow(id, key, value, value_type, { 
                          key_editable=true, value_editable=true, 
                          level=null, accuracy=null, valid=null, 
                          modified=null, note=null, level_allowed=false} = {}){
	result = "<div id='gridrow-"+id+"' class='gridrow "+(valid == false ? 'invalid' : '')+"'>";
	// TODO valid/invalid, accuracy, level etc.
	// valid
	if (valid != null){
		result += "<div class='gridcell valid'>";
		if (key != 'codename')
			result += "<input id='valid-"+id+"' type='checkbox' "+(valid ? 'checked' : '')+" onclick='toggle_valid(`"+id+"`)' onfocus='row_focus(`"+id+"`)' onfocusout='row_unfocus(`"+id+"`)'>";
		result += "</div>";
	}
	// key
	result += "<div class='gridcell key "+(key_editable ? '' : 'const')+"' "+(key_editable ? 'contenteditable' : '')+" onfocus='row_focus(`"+id+"`)' onfocusout='row_unfocus(`"+id+"`)'>"+key+"</div>";
	// value
	result += "<div class='gridcell value "+(value_editable ? '' : 'const')+"' "+(value_editable ? 'contenteditable' : '')+" onfocus='row_focus(`"+id+"`)' onfocusout='row_unfocus(`"+id+"`)'>"+(value ? value : '')+"</div>"; // TODO value_type
	// accuracy
	if (accuracy != null)
		result += "<div class='gridcell accuracy'>"+get_dropdown('select-accuracy-', id, 0, 10, false, accuracy)+"</div>";
	// level
	if (level_allowed)
		result += "<div class='gridcell level'>"+get_dropdown('select-level-', id, 0, 10, true, level)+"</div>";	
	result += '</div>';
	return result;
}

function toggle_valid(id){
	if (document.getElementById('valid-'+id).checked)
		document.getElementById('gridrow-'+id).classList.remove('invalid');
	else
		document.getElementById('gridrow-'+id).classList.add('invalid');
}

function get_dropdown(id_prepend, id, start, end, nullable, value){
	result = "<select id='"+id_prepend+id+"' onfocus='row_focus(`"+id+"`)' onfocusout='row_unfocus(`"+id+"`)'>";
	if (nullable)
		result += "<option value='' "+(value == null ? "selected='selected'" : '')+">-</option>";
	for (var i=start; i<=end; i++){
		selected = (i == value ? "selected='selected'" : '');
		result += "<option value='"+i+"' "+selected+">"+i+"</option>";
	}
	result += "</select>";
	return result;
}

function row_focus(id){
	document.getElementById('gridrow-'+id).classList.add('focus');
	// TODO show attachment
}

function row_unfocus(id){
	document.getElementById('gridrow-'+id).classList.remove('focus');
}

function save_changes(){
	// TODO maybe different for different types?
	// subject
	var note_data = document.getElementById('gridrow-subject-note').children[1].innerHTML;
	var data = get_by_id(subjects, last['subject']);
	var old = (data[3] === null) ? '' : data[3];
	if (note_data != old)
	{
		alert('note changed'); // TODO update
	}
	// TODO trim(), change <br>s to \ns
	
	// subject informations
	var id;
	items = document.getElementsByClassName('gridrow');
	[].forEach.call(items, function(item){
	//[].forEach.call([items[2]], function(item){ // TODO remove
			if (!item.id.startsWith('gridrow-information'))
				return;
			id = item.id.split('-').pop();
			old_data = get_by_id(informations, id);
			new_data = old_data.slice();
			// fill changes. TODO trim(), change brs into \ns
			// valid, key, value, accuracy, level
			try
			{
				new_data[7] = item.children[0].children[0].checked ? 1 : 0;
				new_data[4] = item.children[1].innerHTML;
				new_data[11] = item.children[2].innerHTML;
			}
			catch (ReferenceError)
			{
				// codename, just allow change of accuracy, level and binary
			}
			new_data[6] = parseInt(item.children[3].children[0].value);
			new_data[5] = item.children[4].children[0].value;
			
			if(new_data[4] == '')
			{
				console.log('Forbiden empty key for information #'+id+'.');
				return;
			}
			if(new_data[5] == '') 
				new_data[5] = null;
			else
				new_data[5] = parseInt(new_data[5]);

			if (JSON.stringify(old_data) != JSON.stringify(new_data))
			{
				alert('Information #'+id+' changed.'); // TODO update
				console.log('old '+JSON.stringify(old_data));
				console.log('new '+JSON.stringify(new_data));
			}
			
	});
}
/**************************
 End of functions
**************************/
	</script>
	<div class="grid-container">
	  <div class="Menu" align="center">
        <div class="menu-column">
			<script type="text/javascript">
				menu_image('ring', regenerate_list);
				menu_image('subject', regenerate_list);
				menu_image('location', regenerate_list);
				menu_image('time', regenerate_list);
				menu_image('association', regenerate_list);
			</script><hr>
			<script type="text/javascript">
				menu_image('bubbles', regenerate_list);
				menu_image('timeline',regenerate_list);
			</script>
	    </div>
      </div>
	  <div class="Header"><button onclick='test()'>Test</button>
	                      <button onclick='save_changes()'>Save</button></div>
	  <div id='object-list' class="List"><!-- created dynamically --></div>
	  <div id='object-detail' class="Detail"></div>
	</div>
  </body>
</html>

