/*
Main layout
*/

.grid-container {
  display: grid;
  grid-template-columns: 7vw 92vw;
  grid-template-rows: 4vh 45vh 50vh;
  gap: 1px 1px;
  grid-template-areas: "Menu Header" "Menu List" "Menu Detail";
}

.Menu { grid-area: Menu; background-color: #eeeeee; }
.menu-column {width: 60px;}
.menu-image {max-height: 50px; max-width: 50px; padding: 5px; opacity: 0.3;}
.menu-image:hover {opacity: 1;}

.Header { grid-area: Header; background-color: #cc3f4f;}

.List { grid-area: List; background-color: #888888; display: flex; flex-direction: column; flex-wrap: wrap; align-content: flex-start; max-height: 45vh; overflow-x: scroll;}
.item {margin: 1px; padding: 10px; background-color: #7bed9f; width: 200px;}
.item:hover { background-color: #4ced7f;}
.item-checked, .item-checked:hover {background-color: #30bf5d;}

.Detail {grid-area: Detail; background-color: #ffffff;}
.gridrow {display: flex; width: 50%; align-content: flex-start;}
.gridrow.invalid {text-decoration: line-through;}
.gridcell.const {background-color: #eeeeee; color: #666666;}
.gridcell.valid {flex: 30px;}
.gridcell.key   {flex: 100px;}
.gridcell.value {flex: 200px;}
.gridcell.accuracy {flex: 20px;}
.gridcell.level {flex: 30px;}
.gridcell.modified {flex: 40px;}
.gridcell.note {flex: 200px;}


